.myButton6 {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton6:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton6:active {
	position:relative;
	top:1px;
}


.className{
  line-height:41px;
  height:41px;
  width:200px;
  color:#ffffff;
  background-color:#4acefe;
  font-size:18px;
  font-weight:bold;
  font-family:Microsoft YaHei;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #31585e), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #31585e 5%, #408c99 100%);
  background:-o-linear-gradient(top, #31585e 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #31585e 5%, #408c99 100%);
  background:linear-gradient(to bottom, #31585e 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #31585e 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#31585e', endColorstr='#408c99',GradientType=0);
  border:0px solid #dcdcdc;
  -webkit-border-top-left-radius:8px;
  -moz-border-radius-topleft:8px;
  border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius-topright:8px;
  border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
  border-bottom-right-radius:8px;
  -moz-box-shadow:5px 10px 14px -7px #276873;
  -webkit-box-shadow:5px 10px 14px -7px #276873;
  box-shadow:5px 10px 14px -7px #276873;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.className:hover{
  background-color:#408c99;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #408c99), color-stop(1, #31585e));
  background:-moz-linear-gradient(top, #408c99 5%, #31585e 100%);
  background:-o-linear-gradient(top, #408c99 5%, #31585e 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #31585e 100%);
  background:linear-gradient(to bottom, #408c99 5%, #31585e 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #31585e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#31585e',GradientType=0);
}

 
.classname2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ffee66;
}.classname2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.classname2:active {
	position:relative;
	top:1px;
} 
 
.classname3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #810e05;
}.classname3:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.classname3:active {
	position:relative;
	top:1px;
} 

 
.classname4 {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
	background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
	background-color:#c123de;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #a511c0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:30px;
	line-height:30px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #9b14b3;
}.classname4:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
	background-color:#a20dbd;
}.classname4:active {
	position:relative;
	top:1px;
} 

.righ2t a{
	margin:5px;
	
}

.download {
/* width: 90%; */
/* width: 350px; */
/* height:80%; */
max-width:1800px;

/* min-width : 400px; */
border: 1px solid #e4e4e4;
margin: auto;
margin: 10px;
/* margin-top: 100px; */
border-radius: 5px;
position: relative; 
box-shadow: 2px 2px 10px #808080;
background-color:#FFA07A;
background-color:#022E2E;
color:#FFD700;
float:left;
}
 
#hezi{
	/* width: 1500px; */
	height: 200px;
	max-width:1500px;
	/* background-color:red; */
	/* overflow: hidden; */


	/* margin-left:50% ; */
	/* padding: auto; */
     margin:  auto;
/* margin: auto; */
   /* margin: 0 auto; */
   /* width: 200px; */
        /* height: 200px; */
        /* border: 1px solid blue; */
        /* position: relative; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
}

.download h2 {
text-align: center;
}

.download img {
width: 100px;
height: 100px;
}

.download .field {
font-size: 14px;
padding: 10px 12px;
}

.download .field .left {
/* width: 49%; */
display: inline-block;
}

.download .field .right {
/* width: 49%; */
display: inline-block;

float:right;

}
#cs001 {



float:right;

}

.download .field::after {
content: '';
display: block;
clear: both;
}

.hr1 {
height: 3px;
widows: 100%;
background: rgb(237, 237, 237);
}

.hr2 {
height: 1px;
widows: 100%;
border-bottom: 1px dashed #ccc;
}

.center {
padding: 20px;
text-align: center;
}

.report {
font-size: 13px;
color: gray;
text-decoration: none;
}

/* start da css for da buttons */
.btn {
border-radius: 5px;
padding: 5px 15px;
font-size: 20px;
text-decoration: none;
margin: 5px;
color: #fff;
position: relative;
display: inline-block;
}

.btn:active {
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px;
}

.green {
background-color: #2ecc71;
box-shadow: 0px 5px 0px 0px #7FFFD4;
}

.green:hover {
background-color: #48E68B;
}

/* 滑块验证码 */
.captcha {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

#embed-captcha {
width: 300px;
margin: 0 auto;
margin-top: -50px;
}

#embed-captcha:empty {
display: none;
}

#embed-captcha::after {
color: gray;
display: block;
font-size: 13px;
margin-top: 5px;
content: '使用你的手，缓慢且准确的滑过去！';
}

.show {
display: block;
}

.hide {
display: none;
}

#notice {
color: red;
}

/* 广告 */
.ad {
width: 100%;
margin-top: 15px;
text-align: center;
position: absolute;
}

.ad a {
display: block;
}

.ad img {
width: auto;
height: auto;
max-width: 100%;
}

a.title {
color: #00e;
    		text-decoration: none;
}
a.title:hover {
    		text-decoration: underline;
}


a {
	color:red;
	
}

a:hover{
	color:#D2B48C:
}.myButton6 {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton6:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButton6:active {
	position:relative;
	top:1px;
}


.className{
  line-height:41px;
  height:41px;
  width:200px;
  color:#ffffff;
  background-color:#4acefe;
  font-size:18px;
  font-weight:bold;
  font-family:Microsoft YaHei;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #31585e), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #31585e 5%, #408c99 100%);
  background:-o-linear-gradient(top, #31585e 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #31585e 5%, #408c99 100%);
  background:linear-gradient(to bottom, #31585e 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #31585e 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#31585e', endColorstr='#408c99',GradientType=0);
  border:0px solid #dcdcdc;
  -webkit-border-top-left-radius:8px;
  -moz-border-radius-topleft:8px;
  border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius-topright:8px;
  border-top-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border-bottom-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
  border-bottom-right-radius:8px;
  -moz-box-shadow:5px 10px 14px -7px #276873;
  -webkit-box-shadow:5px 10px 14px -7px #276873;
  box-shadow:5px 10px 14px -7px #276873;
  text-align:center;
  display:inline-block;
  text-decoration:none;
}
.className:hover{
  background-color:#408c99;
  background:-webkit-gradient(linear, left top, left bottom, color-start(0.05, #408c99), color-stop(1, #31585e));
  background:-moz-linear-gradient(top, #408c99 5%, #31585e 100%);
  background:-o-linear-gradient(top, #408c99 5%, #31585e 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #31585e 100%);
  background:linear-gradient(to bottom, #408c99 5%, #31585e 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #31585e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#31585e',GradientType=0);
}

 
.classname2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ffee66;
}.classname2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}.classname2:active {
	position:relative;
	top:1px;
} 
 
.classname3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #810e05;
}.classname3:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.classname3:active {
	position:relative;
	top:1px;
} 

 
.classname4 {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
	background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
	background-color:#c123de;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #a511c0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:30px;
	line-height:30px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #9b14b3;
}.classname4:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
	background-color:#a20dbd;
}.classname4:active {
	position:relative;
	top:1px;
} 

.righ2t a{
	margin:5px;
	
}

.download {
/* width: 90%; */
/* width: 350px; */
/* height:80%; */
max-width:1800px;

/* min-width : 400px; */
border: 1px solid #e4e4e4;
margin: auto;
margin: 10px;
/* margin-top: 100px; */
border-radius: 5px;
position: relative; 
box-shadow: 2px 2px 10px #808080;
background-color:#FFA07A;
background-color:#022E2E;
color:#FFD700;
float:left;
}
 
#hezi{
	/* width: 1500px; */
	height: 200px;
	max-width:1500px;
	/* background-color:red; */
	/* overflow: hidden; */


	/* margin-left:50% ; */
	/* padding: auto; */
     margin:  auto;
/* margin: auto; */
   /* margin: 0 auto; */
   /* width: 200px; */
        /* height: 200px; */
        /* border: 1px solid blue; */
        /* position: relative; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
}

.download h2 {
text-align: center;
}

.download img {
width: 100px;
height: 100px;
}

.download .field {
font-size: 14px;
padding: 10px 12px;
}

.download .field .left {
/* width: 49%; */
display: inline-block;
}

.download .field .right {
/* width: 49%; */
display: inline-block;

float:right;

}
#cs001 {



float:right;

}

.download .field::after {
content: '';
display: block;
clear: both;
}

.hr1 {
height: 3px;
widows: 100%;
background: rgb(237, 237, 237);
}

.hr2 {
height: 1px;
widows: 100%;
border-bottom: 1px dashed #ccc;
}

.center {
padding: 20px;
text-align: center;
}

.report {
font-size: 13px;
color: gray;
text-decoration: none;
}

/* start da css for da buttons */
.btn {
border-radius: 5px;
padding: 5px 15px;
font-size: 20px;
text-decoration: none;
margin: 5px;
color: #fff;
position: relative;
display: inline-block;
}

.btn:active {
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px;
}

.green {
background-color: #2ecc71;
box-shadow: 0px 5px 0px 0px #7FFFD4;
}

.green:hover {
background-color: #48E68B;
}

/* 滑块验证码 */
.captcha {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

#embed-captcha {
width: 300px;
margin: 0 auto;
margin-top: -50px;
}

#embed-captcha:empty {
display: none;
}

#embed-captcha::after {
color: gray;
display: block;
font-size: 13px;
margin-top: 5px;
content: '使用你的手，缓慢且准确的滑过去！';
}

.show {
display: block;
}

.hide {
display: none;
}

#notice {
color: red;
}

/* 广告 */
.ad {
width: 100%;
margin-top: 15px;
text-align: center;
position: absolute;
}

.ad a {
display: block;
}

.ad img {
width: auto;
height: auto;
max-width: 100%;
}

a.title {
color: #00e;
    		text-decoration: none;
}
a.title:hover {
    		text-decoration: underline;
}


a {
	color:red;
	
}

a:hover{
	color:#D2B48C:
}
